
/* These are the parameters of the index page */
h1
{
  margin-left: 20%;
}

p
{
  margin-right: 55vw;
  margin-left: 10px;
}

.chapeau
{
  margin-left: 60px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Secret secret */
.onion
{
  height: 4vh;
  float: right;
  margin-top : -15px;
}