
/* These are the parameters of the index page */
h1
{
  margin-left: 20%;
}

p
{
  margin-right: 55vw;
  margin-left: 10px;
}

.chapeau
{
  margin-left: 60px;
  font-weight: 600;
  margin-bottom: 25px;
}

button
{
  font-size: 0.8em;
  float: right;
  margin: 3px 10px;
  background-color: lightgrey;
  border-radius: 6px;
  border-color: grey;
  padding: 2px 2px 2px 2px;
}

button:hover
{
  cursor: pointer;
  background-color: grey;
}

/* Secret secret */
.onion
{
  height: 4vh;
  float: right;
  margin-top : -15px;
}