/* These are the parameters of all the pages except the menu */

body
{
    background-image: url('../Images/title_screen.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Background to write on */
.contenu
{
    background-color: beige;
    background-size: cover;
    margin: 3vh 10vw 3vh 10vw;
    padding : 3vh 3vw 3vh 3vw;
    border-radius: 2%;
    overflow: hidden;
}


h1
{
    text-align: center;
}

h2
{
    color : purple;
    font-size: 2em;
    padding-top: 25px;
}

.chapeau
{
    margin-bottom: 5vh;
}


/* Parameters of the group members page */
.personne
{
    display:block;
    overflow: hidden;  
    float : left;
}

.portrait
{
    padding-top: 40px;
    left :0;
    height: 40vh;
    float : left;
    margin-right : 1vw;
}


/* Another secret */
a.secret
{
    font-size: 1.2em;
}

/* Parameters of the ressources page */
.ressources
{
    padding-top: 10px;
    height: 10vh;
    float : left;
    margin-right : 1vw;
}

li
{
    list-style: none;
}

/* Parameters of the secret page */
.citations > li
{
    list-style: circle; 
    margin-bottom: 10px;
}

.centered
{
    text-align: center;
}

/* Parameters of the game page */

.box_yggdrasil
{
    float:left;
    margin-top: 3vh;
    margin-left: 1vw;;
    padding : 3vh 3vw 3vh 3vw;
    border-radius: 2%;
}

.box_yggdrasil img
{
    height: 70vh;
}

.box_synopsis
{
    background-color: beige;
    background-size: cover;
    height: 75vh;
    margin: 3vh 3vw 0 3vw;
    padding : 3vh 3vw 4vh 3vw;
    border-radius: 2%;
}

.box_download
{
    width: fit-content;
    height: fit-content;
    float : left;
    background-color:lightgrey;
    background-size: cover;
    margin-right: 2vw;
    margin-top: 3vh;
    padding : 0 3vw 3vh 3vw;
    border-radius: 2%;
    text-align: center;
}

/* .source
{
  text-decoration: none;
  color: lightgrey;
  font-size: 0.5em;
} */

.normal-color
{
    color: black;
}
