/* These are the parameters of all the pages except the menu */

body
{
    padding-bottom: 5vh;
}

/* Background to write on */
.contenu
{
    background-color: beige;
    background-size: cover;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
    padding : 3vh 3vw 3vh 3vw;
    border-radius: 2%;
    overflow: hidden;
}


h1
{
    text-align: center;
}

h2
{
    color : purple;
    font-size: 2em;
    padding-top: 25px;
}

.chapeau
{
    margin-bottom: 5vh;
}


/* Parameters of the group members page */
.personne
{
    display:block;
    overflow: hidden;  
    float : left;

}

.portrait
{
    padding-top: 40px;
    left :0;
    height: 50vh;
    float : left;
    margin-right : 1vw;

}


/* Another secret */
a.secret
{
    font-size: 1.2em;
}

/* Parameters of the ressources page */
.ressources
{
    padding-top: 10px;
    height: 10vh;
    float : left;
    margin-right : 1vw;
}

li
{
    list-style: none;
}

/* Parameters of the secret page */
.citations > li
{
    list-style: circle; 
    margin-bottom: 10px;
}

