/* Global parameters of the website */

*
{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto Slab", serif;
    font-style: bold;
}

/* Background image : title-screen of the game */
body {
  background-image: url('../Images/title_screen.png'); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* Parameters of the menu */
.header
{
    background-color: beige;
    width : 100%;
    display: flex;
    justify-content: space-between;

}

.logo
{
    height: 70px;
    padding-left: 10px;
}

a:link, a:visited
{
  color: purple;
  text-decoration: none;
}

a:hover
{
  color:gray;
}

.menu 
{
  margin-top: 25px;
}

.menu > li 
{
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type 
{
  margin-right: 50px;
}

/* The submenu */
.features-menu 
{ 
  display: none;
  z-index: 1;
}

.dropdown > span 
{ 
  z-index: 2;
  position: relative; 
  cursor: pointer;
  color: purple;

}

.dropdown:hover .features-menu 
{ 
  display: flex;
  flex-direction: column;
  background: beige;
  border-radius: 5px;
  padding-top: 60px;
  position: absolute; 
  top: -25px; 
  left: -30px;
}

.features-menu li 
{
  list-style: none;
  font-size: 0.8em;
  border-bottom: 2px solid #FFF;

  padding: 0 0 10px 0;
  text-align: center;
  margin: 7px;
}

.features-menu li:last-of-type 
{
  border-bottom: none;
}

.dropdown 
{
  position: relative;
}


/* General perameters */
p
{
  margin-bottom: 10px;
}

h2
{
  font-family: "Merriweather", serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

h1
{
  font-family: "Merriweather", serif;
  font-size: 2em;
  margin-bottom: 25px;
}

