*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto Slab", serif;
    font-style: bold;
}

body
{
  min-height: 100vh;
}


.header
{
    background-color: beige;
    /* padding: 20px 0; */
    width : 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;

}

.logo
{
    /* position: inherit; */
    height: 70px;
    padding-left: 10px;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: white;
}

p
{
  margin-bottom: 10px;
}

.chapeau
{
  margin-left: 60px;
  font-weight: 600;
  margin-bottom: 25px;
}


h2
{
  font-family: "Merriweather", serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

h1
{
  font-family: "Merriweather", serif;
  font-size: 2em;
  margin-bottom: 25px;
}



.menu {
    margin-top: 25px;
  }
  
  .menu > li {
    display: inline;
    margin-right: 50px;
  }
  
  .menu > li:last-of-type {
    margin-right: 50px;
  }

  .features-menu { /* The submenu */
    display: none;
    z-index: 1;
  }

  .dropdown > span { 
    z-index: 2;
    position: relative; 
    cursor: pointer;
    color: #5D6063;
  }

  .dropdown:hover .features-menu { /* When the mouse is over the submenu */
    display: flex;
    flex-direction: column;
    background: beige;
    border-radius: 5px;
    padding-top: 60px;
    position: absolute; 
    top: -25px; 
    left: -30px;
  }
  
  .features-menu li {
    list-style: none;
    font-size: 0.8em;
    border-bottom: 1px solid #FFF;
  
    padding: 0 0 10px 0;
    text-align: center;
    margin: 7px;
  }
  
  .features-menu li:last-of-type {
    border-bottom: none;
  }

  .dropdown {
    position: relative;
  }